#expand {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.btn {
     margin:1vw;
     width: 100px;
}