#expand {
    margin-top: 1vh;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.btn {
     margin:1vw;
     width: 100px;
     z-index: -1;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: +1000;
}

.incident_button {
    margin-bottom: 8vh;
}


