
/* to allow for footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* to allow for footer */
main {
    flex: 1 0 auto;
}

/* raised main page to be higher above footer */
.page {
    margin-bottom: 10vh;
}

/* to make all buttons consistent */
.btn {
     margin:1vw;
     width: 100px;
     z-index: -1;
}

/* elements of footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: +1000;
}

/* raise the button to be higher than the footer */
.incident_button {
    margin-bottom: 8vh;
}


