{% extends 'base.html' %} {% block content %}
<nav>
    <!-- header with home link -->
    <div class="nav-wrapper red">
        <a href="{{ url_for('goto_home') }}" class="brand-logo yellow-text center">Royal Mail</a>
    </div>
</nav>
<!-- back button with home link -->
<a href="{{ url_for('goto_home') }}" class="waves-effect waves-light btn-flat"><i class="material-icons left">arrow_back</i>Back</a>
<h3>Add Access Issues</h3>
<div class="row">
    <!-- form to add a new access issue -->
    <form action="{{ url_for('insert_hazard') }}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s4">
                <i class="material-icons prefix">location_on</i>
                <input placeholder="" id="number" name="number" type="text" class="validate">
                <label for="number">Street No.</label>
            </div>
            <div class="input-field col s8">
                <i class="material-icons prefix">location_city</i>
                <select id="street_name" name="street_name">
                      <option value="" disabled selected>Choose Road</option>
                      {% for street in walk_340 %}
                      <option value="{{ street.street_name }}">{{ street.street_name }}</option>
                      {% endfor %}
                </select>
                <label>Street Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <select id="incident_description" name="incident_description">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="Access Issue: No way through to mailbox">No way through to mailbox</option>
                        <option value="Access Issue: No Mailbox">No Mailbox</option>
                        <option value="Access Issue: Mailbox Full">Mailbox Full</option>
                        <option value="Access Issue: Other">Other</option>
                </select>
                <label>Description</label>
            </div>

        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">mode_edit</i>
                <textarea id="comments" name="comments" class="materialize-textarea" data-length="120"></textarea>
                <label for="Comments">Comments</label>
            </div>
        </div>
        <div class="row">

            <div class="input-field col s6">
                <i class="material-icons prefix">today</i>
                <input id="date_reported" name="date_reported" type="text" class="datepicker">
                <label for="icon_prefix">Date</label>
            </div>

            <div class="switch col s3">
                <label>
                    <input id="management_aware" name="management_aware" type="checkbox">
                    <span class="lever"></span>
                      Escalated
                </label>
            </div>
            <div class="submit col s3">
                <button class="btn waves-effect yellow-text waves-light" type="submit" name="action">Add Issue</button>
            </div>
    </form>
    </div>

    {% endblock %}
