{% extends 'base.html' %} {% block content %}
<nav>
    <!-- header with home link -->
    <div class="nav-wrapper red">
        <a href="{{ url_for('goto_home') }}" class="brand-logo yellow-text center">Royal Mail</a>
    </div>
</nav>
<!-- back button with home link -->
<a href="{{ url_for('goto_home') }}" class="waves-effect waves-light btn-flat"><i class="material-icons left">arrow_back</i>Back</a>
<h3>Add Hazard</h3>
<div class="row">
    <!-- form to add a new hazard -->
    <form action="{{ url_for('insert_hazard') }}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s4">
                <i class="material-icons prefix">location_on</i>
                <input placeholder="" id="number" name="number" type="text" class="validate">
                <label for="number">Street No.</label>
            </div>
            <div class="input-field col s8">
                <i class="material-icons prefix">location_city</i>
                <select id="street_name" name="street_name">
                      <option value="" disabled selected>Choose your option</option>
                      <option value="Milverton Gn">Milverton Gn</option>
                      <option value="Lemington Rd">Lemington Rd</option>
                      <option value="Horace Brightman Cl">Horace Brightman Cl</option>
                      <option value="Lighthorn Rs">Lighthorn Rs</option>
                      <option value="Morrel Cl">Morrel Cl</option>
                      <option value="Quickswood">Quickswood</option>
                      <option value="Willenhall Cl">Willenhall Cl</option>
                      <option value="Speedwell Cl">Speedwell Cl</option>
                      <option value="Sorrell Cl">Sorrell Cl</option>
                      <option value="Celandine Dv">Celandine Dv</option>
                      <option value="Lucas Gardens">Lucas Gardens</option>
                      <option value="Freeman Av">Freeman Av</option>
                      <option value="Whitehorse Vale">Whitehorse Vale</option>
                </select>
                <label>Street Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <select id="incident_description" name="incident_description">
                    <optgroup label="Animal" id="incident_description" name="incident_type">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="Animal Hazard: Dog snapping at mail">Dog snapping at mail</option>
                        <option value="Animal Hazard: Loose Dog">Loose Dog</option>
                        <option value="Animal Hazard: Other">Other</option>
                    </optgroup>
                    <optgroup label="Access" id="incident_type" name="incident_type">
                        <option value="Access Hazard: Unsafe Pathway">Unsafe Pathway</option>
                        <option value="Access Hazard: Contruction">Contruction</option>
                        <option value="Access Hazard: Other">Other</option>
                    </optgroup>
                    <optgroup label="People" id="incident_type" name="incident_type">
                        <option value="People Hazard: Possible criminal activity">Suspicious activity</option>
                        <option value="People Hazard: Aggressive/abusive behaviour">Aggressive/abusive behaviour</option>
                        <option value="People Hazard: Health concern for customer">Concern for customer health and safety</option>
                        <option value="People Hazard: Other">Other</option>
                    </optgroup>
                </select>
                <label>Description</label>
            </div>

        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">mode_edit</i>
                <input id="comments" name="comments" type="text" class="validate">
                <label for="Comments">Comments</label>
            </div>
        </div>
        <div class="row">

            <div class="input-field col s6">
                <i class="material-icons prefix">today</i>
                <input id="date_reported" name="date_reported" type="text" class="datepicker">
                <label for="icon_prefix">Date</label>
            </div>

            <div class="switch col s3">
                <label>
                    <input id="management_aware" name="management_aware" type="checkbox">
                    <span class="lever right"></span>
                      Escalated
                </label>
            </div>
            <div class="submit col s3">
                <button class="btn waves-effect yellow-text waves-light" type="submit" name="action">Add Hazard</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
