<!DOCTYPE html>
<html lang="en">

<head>
  <title>Postal Reminders</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Framework CSS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}" type="text/css" />

  <title>Postal</title>
</head>

<body>
  <!-- links for template inheritance -->
  <div class="container">
    <!-- Page header -->
    <nav>
      <div class="nav-wrapper red">
        <a href="{{ url_for('goto_home')}}" class="brand-logo yellow-text center">Royal Mail</a>
        <ul id="nav" class="right">
          <li><a href="{{ url_for('see_login')}}">Logout</a></li>
        </ul>
      </div>
    </nav>
    {% block content %} {% endblock %}
  </div>
  <footer id="expand" class="page-footer red yellow-text">
    <div class="container">
      © 2019 Copyright Andrew Phillips
      <a class="yellow-text red right" href="https://www.myroyalmail.com/Contacts">Contacts</a>
    </div>
  </footer>
  <!-- cdnjs for script -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <!-- initialize materialise components -->
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.fixed-action-btn');
      var instances = M.FloatingActionButton.init(elems, {
        toolbarEnabled: true
      });
    });

    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('select');
      var instances = M.FormSelect.init(elems);
    });

    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.datepicker');
      var instances = M.Datepicker.init(elems);
    });
  </script>
</body>

</html>
