{% extends 'base.html' %} {% block content %}
<!-- Page header -->
<nav>
  <div class="nav-wrapper red">
    <a href="#" class="brand-logo yellow-text center">Royal Mail</a>
  </div>
</nav>
<!-- Search bar to find streets and incidents -->
<div>
  <form action="{{ url_for('searches') }}" method="POST">
    <div class="input-field">
      <input name="search" id="search" type="search" placeholder="Search Streets">
      <button class="btn btn-info red btn-small btn-site text-center" type="submit">Search</button>
      <i class="material-icons">close</i>
    </div>
  </form>
</div>
<!-- Page heading -->
<div class="col s12 m7">
  <h3 class="header center">Route</h3>

  <div class="card vertical">
    <div class="card-image">
      <!-- Table showing basic route reminders -->
      <table class="table">
        <thead>
          <tr>
            <th>Address</th>
            <th>Description</th>
            <th>Comments</th>
          </tr>
        </thead>

        <tbody>
          {% for incident in incidents %}
          <tr>
            <!-- Links to mongoDB -->
            <td>{{incident.number}} {{incident.street_name}} </td>
            <td>{{incident.incident_description}}</td>
            <td>{{incident.comments}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>

  <div class="card-action">
    <!-- button to link to expanded table format -->
    <a class="waves-effect red waves-light btn incident_button" href="{{ url_for('see_route') }}">See all reminders</a>
  </div>


</div>
<!-- round edit button which expands to nav bar -->
<div class="fixed-action-btn toolbar incident_button ">
  <a class="btn-floating btn-large teal darken-4">
      <i class="large material-icons">mode_edit</i>
    </a>
  <ul>
    <!-- Nav bar -->
    <li class="waves-effect waves-light red accent-4 label"><a href="{{ url_for('add_hazard')}}">HAZARD</a></li>
    <li class="waves-effect waves-light teal label"><a href="{{ url_for('add_access') }}">ACCESS</a></li>
    <li class="waves-effect waves-light green label"><a href="{{ url_for('add_request') }}">REQUEST</a></li>
  </ul>
</div>

{% endblock %}
