{% extends 'base.html' %} {% block content %} 
  {% for incident in incidents %} 
     <table>
       <p>{{incident.walk_no}}, {{incident.depot}}</p>
        <thead>
          <tr>
              <th>Address</th>
              <th>Reminder</th>
              <th>Description</th>
              <th>Date/Staff</th>
              <th>Comments</th>
              <th>Reported to Manager</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>{{incident.street_name}}, {{incident.post_code}}</td>
            <td>{{incident.reminder_category}}, {{incident.incident_type}}</td>
            <td>{{incident.incident_description}}</td>
            <td>{{incident.date_reported}} by {{incident.reported_by}}</td>
            <td>{{incident.comments}}</td>
        </tbody>
      </table>
      {% endfor %}
{% endblock %}