{% extends 'base.html' %} 
{% block content %} {% for incident in incidents %} 
<nav col s12>
  <div class="nav-wrapper">
    <a href="{{ url_for('goto_home') }}" class="brand-logo center">Royal Mail</a>
  </div>
</nav>
     <div class="row">
     <div>
     <table>
        <thead>
          <tr>
              <th>Address</th>
              <th>Reminder</th>
              <th>Description</th>
              <th>Date/Staff</th>
              <th>Comments</th>
              <th>Escalated</th>
          </tr>
        </thead>

        <tbody>
          {% for incident in incidents %}
          <tr>
            <td>{{incident.street_name}}, {{incident.post_code}}</td>
            <td>{{incident.reminder_category}}, {{incident.incident_type}}</td>
            <td>{{incident.incident_description}}</td>
            <td>{{incident.date_reported}} by {{incident.reported_by}}</td>
            <td>{{incident.comments}}</td>
            <td></td>
            <td><a class="waves-effect red waves-light btn">Edit</a></td>
            <td><a href="{{url_for('delete_incident', incident_id=incident._id)}}" class="waves-effect red waves-light btn">Delete</a></td>
          </tr>
          
            
        </tbody>
        
        {% endfor %}
      </table>
      </div>
      
      </div>
      <div class="card-action">
      <a href="{{ url_for('goto_home') }}">Home</a>
    </div>
      {% endfor %}
{% endblock %}