{% extends 'base.html' %} {% block content %}

<!-- Button with link back to home -->
<div class="row">
  <a href="{{ url_for('goto_home') }}" class="waves-effect waves-light btn-flat"><i class="material-icons left">arrow_back</i>Back</a>
</div>
<div class="row">
  {% if results %} {% for result in results %}
  <div col>
    <!-- using jinga to loop through results and key -->

    <div class="card">
      <div class="card-content">
        {% for key, value in result.items() %}
        <strong>{{key}}: </strong>{{value}},<br> {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %} {% else %}
  <div class="card">
    <div class="card-content">
      <h4>No reminders found. Please check street spelling</h4>
    </div>
  </div>
</div>{% endif %}

<!-- Button with link back to home -->
<div class="row">
  <a href="{{ url_for('goto_home') }}" class="waves-effect waves-light btn-flat"><i class="material-icons left">arrow_back</i>Back</a>
</div>
{% endblock %}
